@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
}

/* banner section style starts from here */
.banner-container{
    max-width: 1440px;
    min-height: 652px;
    border: 2px dashed lightgray;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-profile-pic{
    height: 240px;
    width: 240px;
    margin-bottom: 40px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    align-items: center;
}
.banner-title{
    font-size: 45px;
    font-weight: 800;
    text-align: center;
}
.banner-description{
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-top: 20px;
    margin-bottom: 30px;
}
.btn-primary{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    padding: 15px 20px 15px 20px;
    border: none;
}
/* banner section style ends here */

/* second section styles stars from here */
.main-section-container{
    width: 946px;
    height: 970px;
    border: 20px solid whitesmoke;
    margin: 0 auto;
    margin-top: 120px;
}
.second-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 40px solid whitesmoke;
    background-color: whitesmoke;
}
.second-section-title{
    font-size: 34px;
    margin-top: 15px;
}
.second-section-description{
    font-size: 11px;
    margin: 20px;
    opacity: 0.7;
    text-align: center;
}
.layer1-container{
    width: 907px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    border-bottom: 25px solid whitesmoke;
}
.layer1-leftside-content{
    width: 50%;
    height: 240px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 30px;
    margin-left: 0;
}
.layer1-leftside-content-title{
    font-size: 18px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}
.layer1-leftside-content-description{
    font-size: 10px;
    font-weight: 400;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    margin-top: 15px;
}
.btn-secondary{
    border: 1px solid black;
    font-weight: 600;
    font-size: 12px;
    width: 120px;
    height: 40px;
    background-color:white;
    padding: 5px;
    margin-top: 15px;
}
.layer1-rightside-content{
    width: 50%;
    height: 240px;
}
.layer1-img{
    width: 259px;
    height: 217px;
}

/* layer-2 styles starts from here */

.layer2-container{
    width: 907px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    border-bottom: 25px solid whitesmoke; 
}
.layer2-leftside-content{
    width: 50%;
    height: 240px;
}
.layer2-img{
    width: 259px;
    height: 217px;
}
.layer2-rightside-content{
    width: 50%;
    height: 240px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 30px;
    margin-left: 0;
}
.layer2-rightside-content-title{
    font-size: 16px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}
.layer2-rightside-content-description{
    font-size: 10px;
    font-weight: 400;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    margin-top: 15px;
}

/* layer-3 styles starts from here */
.layer3-container{
    width: 907px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    border-bottom: 25px solid whitesmoke; 
}
.layer3-leftside-content{
    width: 50%;
    height: 240px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 30px;
    margin-left: 0;
}
.layer3-leftside-content-title{
    font-size: 16px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}
.layer3-leftside-content-description{
    font-size: 10px;
    font-weight: 400;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    margin-top: 15px;
}
.layer3-rightside-content{
    width: 50%;
    height: 240px;
}
.layer3-img{
    width: 259px;
    height: 217px;
}




